
//- Edito Rentrée2024
mj-section(background-color='#EDF2F7' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' target='_blank' src='https://i.ibb.co/Gkm0KKB/news-Bandeau082024.jpg' alt='Groupe d\'étudiants entrain de discuter avec portrait de Christian ANNALORO, responsable pédagogique d\'Ecosup Assurance')/
mj-section(background-color='#EDF2F7' padding-top='10px' padding-bottom='40px')
        mj-column(width='88%') 
            mj-text(padding-top='5px' padding-bottom='0' font-size='14px' font-weight='900' line-height='18px' text-transform='uppercase' color='#944694') Édito
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='20px' font-weight='700' line-height='24px' color="#684092") Un nouvelle promotion, de nouvelles opportunités : la rentrée 2024
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Chers partenaires,
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Mercredi 4 septembre, nous accueillerons une partie de nos nouvelles promotions d'étudiants. Certains d'entre eux intégreront vos entreprises et nous sommes persuadés que ce partenariat sera fructueux pour tous.
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Notre programme pédagogique a été conçu en étroite collaboration avec les professionnels du secteur afin de former des étudiants compétents et prêts à intervenir rapidement au sein de vos équipes.
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Pour allier formation théorique et aptitude au relationnel, nous accordons une importance particulière aux entretiens, ateliers, conférences et interventions.
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Pour répondre aux besoins d'un marché en perpétuelle évolution, nos formations s'adaptent aux nouvelles technologies et privilégient les valeurs de développement durable, RSE… 
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Pour une formation réussie, les équipes d'ECOSUP Campus misent sur l'accompagnement sans faille des élèves mais également un engagement à être toujours auprès de vous.
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Nos étudiants sont rigoureusement sélectionnés et bénéficient d'un suivi personnalisé tout au long de leur cursus. Nous sommes donc convaincus qu'ils manifesterons passion et curiosité avec le souci de contribuer au développement de votre entreprise.
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") N'hésitez pas à nous contacter pour toute question ou suggestion.